In [1]:
# Final Project: Data Science Tools and Ecosystem

In [ ]:
## Introduction
In this notebook, we will summarize some of the tools, languages, and libraries commonly used in data science. We will also include examples of simple arithmetic operations in Python.

## Data Science Languages
Some of the popular languages used by data scientists are:
- Python
- R
- SQL
- Julia

## Data Science Libraries
Commonly used libraries for data science include:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool            | Category           |
|-----------------|-------------------|
| Jupyter Notebook | IDE/Environment   |
| RStudio         | IDE/Environment   |
| Apache Spark    | Big Data Tool     |
| TensorFlow      | Machine Learning  |
| Tableau         | Data Visualization |

## Arithmetic Expression Examples
Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This will multiply and add numbers
(3*4) + 5

17

In [3]:
# This will convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [ ]:
## Objectives
The objectives of this notebook are:
- List popular languages for Data Science
- List common libraries used by Data Scientists
- Create a table of Data Science tools
- Demonstrate simple arithmetic operations in Python
- Convert units (minutes to hours) using Python code

## Author
**Nilesh Singh**